/* By Patiparn Chirasutthiyarn */
body{
    background-image:url(image/1510910455572.png) ;  /*(เรียกภาพจากfolderimageเป็น background)*/
    background-size: cover;
    background-position: center;
}
ul{
    margin:0px;
    padding: 40px 0px 0px 20px;              /* set ช่องไฟ */
   
}
a {
    text-decoration: none;
    display:inline-block;                    
    background:#ede6d1 ;                  /* set ช่องไฟ และ background*/
    margin: 10px;
    width: fit-content;
    border-radius:3px;
    padding:10px 10px 10px 10px;
}
a:hover {
    text-decoration:underline ;                  /*เมื่อเอา mouse hover จะขีดเส้นใต้ */

}
#cer1{
    margin-left: auto;
    margin-right: auto;               /*set ภาพให้อยู่ตรงกลาง */
    display: block;
    width: 50%
}
#cer2{
    width: 50% ;
    margin-left: auto;
    margin-right: auto;                  /*set ภาพให้อยู่ตรงกลาง */
    display: block;
}
#cer3{
    width:50% ;
    margin-left: auto;
    margin-right: auto;            /*set ภาพให้อยู่ตรงกลาง */
    display: block;
}
nav{
    text-align: center;                 /*set ให้อยู่ตรงกลาง */
}
h1{
    color: white;                  /* set สี text*/
} 